.menu-body {
    position: absolute;
    top: 50px;
    left: 20px;
    width: 200px;
    height: 87vh;
    background: #F7F8FD;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.upload-logo-container {
    width: 90%;
    height: 78px;
    background: #FFFFFF;
    border: 1px dashed #6F91A8;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.upload-logo-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F91A8;
}